.about {
  position: relative;
  padding-top: 90px;
  padding-bottom: 60px;
}

.about__wrap {
  width: 590px;
  max-width: 50%;
  padding-right: 55px;
}

.about__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img {
    display: block;
    width: 100%;
    height: auto;
    flex: 0 0 auto;
  }
}
