.intro {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.05);
}

.intro__columns {
  display: flex;
  flex-wrap: wrap;
}

.intro__column {
  width: 45%;
  padding-right: 100px;
  
  ul {
    .reset();
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    
    li {
      position: relative;
      
      &::before {
        content: "-";
        margin-right: 5px;
      }
    }
  }
}
